@import url(reset.css);
@import url(general.css);

/* 
HEADER
*/




/* 
MAIN
*/

h1{
    font-size: 2.5em;
}

hr{
    width: 15%;
}


/* 
FOOTER
*/








.debug .top_main{
    background-color: blueviolet;
} 

 .debug .avatar{
    background-color: cornflowerblue;
} 

.debug .col-12 .img_cover{
    background-color: brown;
    width: 100%;
    height: 150px;
} 

 .debug .third_main{
    background-color: blueviolet;
} 







/* 
MEDIA QUERY da Mobile first
*/

/* Tablet */

@media screen and (min-width: 768px){
    h1{
        font-size: 2.7em;
    }
    
    h2{
        font-size: 2.3em;
    }
}


/* Desktop */
@media screen and (min-width: 992px){
    h1{
        font-size: 3em;
    }
}


