@import url(reset.css);
@import url(general.css);

/* 
HEADER
*/

.list-group-item{
    display: none;
}














/* 
MAIN
*/



















/* 
FOOTER
*/








.debug .top_main{
    background-color: blueviolet;
}

.debug .avatar{
    background-color: cornflowerblue;
}











/* 
MEDIA QUERY da Mobile first
*/

/* Tablet */

@media screen and (min-width: 768px){
    .list-group-item{
        display: block;
    }
    
}


/* Desktop */
@media screen and (min-width: 992px){
   
}


